version: 2
jobs:
  build-node9:
    docker:
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/node:9.5-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run ci_full_flow
  build-node8:
    docker:
      - image: circleci/node:8.9-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run ci_full_flow
  build-node6:
    docker:
      - image: circleci/node:6.12-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run ci_full_flow

workflows:
  version: 2
  build:
    jobs:
      - build-node9
      - build-node8
      - build-node6